.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.modal-content img {
    width: 100%;
    height: auto;
    display: block;
}

.close {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #808D7C;
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    color: #808D7C;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;

}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 480px) {
    .close,
    .prev,
    .next {
        font-size: 30px;
    }
}
